/*Ids*/
#heading{
    color: white;
    padding-top:150px;
    padding-bottom: 150px ;
    background-image: url("team-cover.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    font-family: "Montserrat";
}
/*classe*/
.navbar{
    padding: 10px;
}

.row{
    padding-top: 50px;
    margin: auto;
    width: 100%;
}
.pic{
    border: 5px solid white ;
    border-radius: 50%;
    height: 180px;
    width: 180px;
}
.title{
    padding: auto;
    margin: auto;
    text-align: center;
}
.para{

    text-align: justify;
}

/*tags*/
body{
    text-align: center;
    background-color: #E6E6E6;
}

body::-webkit-scrollbar{
    display: none;
}

h1{
    font-size: 10vh;
}

ul{
    list-style: none;
}