/*Id's*/
#heading{
    color: white;
    padding-top:100px;
    padding-bottom: 100px ;
    padding-right:10px;
    padding-left: 10px;
    background-image: url("index-cover.jpg");
    
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Montserrat";
}

/*Classes*/
.navbar{
    padding: 10px;
}

.preview-sec{
    margin: auto;
    width: 98%;
}

.img-hold{
    padding: 10px;
}

.preview-img{
    padding: 10px;
    max-width:100%;
    max-height:auto;
    width: auto;
    height: auto;
}

.upload{
    padding-top: 50px;
    margin: auto;
    width: max(20vw,30vh);
}

/*Tags*/

body{
    text-align: center;
    margin: auto;
    background-color: #E6E6E6;
}

body::-webkit-scrollbar{
    display: none;
}

a{
    text-decoration: none;
}

p{
    margin: auto;
    color: #404040;
    font-size: large;
    text-overflow:ellipsis;
    font-family: "Montserrat";
}