/*Id's*/
#heading{
    color: white;
    padding-top:100px;
    padding-bottom: 100px ;
    padding-right:10px;
    padding-left: 10px;
    background-image: url("pexels-scott-webb-593158.jpg");
    
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Montserrat";
}

/*Classes*/
.navbar{
    padding: 10px;
}

.preview-sec{
    margin: auto;
    width: 98%;
}

.img-hold{
    padding: 10px;
}

.preview-img{
    height: 200px;
    width: 200px;
    width: 100%;
}

.upload{
    padding-top: 50px;
    margin: auto;
    width: 20%;
}

/*Tags*/

body{
    text-align: center;
    margin: auto;
}

body::-webkit-scrollbar{
    display: none;
}

